@media (min-width: 1px) and (max-width: 100vw) {

HTML {
    text-align: center;
    background: url(images/PlainBlue.jpg) ;
    background-size: cover;
}


/*Dashboard*/
.dashShell {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: SokaThin;
    border: 1px solid silver;
    margin-left: inherit;
    text-shadow: 5px 5px black;
}

.dashLeft {
    font-family: Nevolasty;
    font-size: 50px;
    color: rgb(215, 211, 228);
    text-shadow: 10px 10px black;
    font-style: italic;
    transform: rotate(-10deg);
    margin-right: 5%;
}

.dashRight {
    font-size: 25px;
    text-shadow: 5px 5px black;
    color: silver;
    margin-left: 5%;
    
}


/* Projects */
.pShell {
    width: 100vw;
    color: silver;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    padding: 2%;
    font-family: SokaThin;
    font-size: large;
    border: 1px solid silver;
}

.pBox {
    display: flex;
}

.plogo {
    width: 6%;
    height: 6%;
    margin-top: 1%;
    margin-right: 20px;
    border: solid white 1px;
}


/* Tech Skills */
.techShell {
    width: 100vw;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    font-family: SokaThin;
    padding-bottom: 4%;
}

.techBox {
    font-family: SokaThin;
    font-size: large;
    width: 20%;
    height: 200%;
    color: silver;
    font-weight: bold;
    font-style: italic;
    border: 1px white solid;
    padding-bottom: 1%;
}

.techLogo {
    width: 8%;
    height: 8%;
}


/* Education */
.edShell {
    width: 100vw;
    color: silver;
    height:100%;
    background-color: rgba(0, 0, 0, .2);
    padding: 2%;
    font-family: SokaThin;
    font-size: large;
    padding-bottom: 4%;
    border: 1px solid silver;
}

.edlogo {
    width: 8%;
    height: 8%;
    border: solid black 1px;
}


/* WorkRecord */
.wkShell {
    width: 100vw;
    color: silver;
    height: 100%;
    padding: 2%;
    font-family: SokaThin;
    font-size: large;
    padding-bottom: 4%;
}

li {
    list-style-type: '';
}

.wklogo {
    width: 8%;
    height: 8%;
    border: solid black 1px;
}


/*Contact Page*/
.contactlogo {
    width: 8%;
    height: 8%;
    margin-top: 5%;
}

.contactlogo2 {
    width: 8%;
    height: 8%;
    margin-top: 3%;
}

.contShell {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    color: silver;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid silver;
    font-family: SokaRegular;
    font-size: 150%;
    padding-right: 3%;
    padding-bottom: 1%;
}

.contLeft, .contRight {
    display: flex;
}

.contCenter{
    margin-right: 3%;
}


/* AboutMe */
.AMShell {
    font-family: SokaThin;
    color: silver;
    font-size: medium;
    width: 100vw;
    height: 100%;
    background-color: transparent;
    padding: 3%;
}

.AMpic {
    border: 1px rgba(171, 156, 213, 0.906) solid;
    border-radius: 2%;
    height: 25%;
    width: 25%;
    margin: 2%;
}


/* KSDemo */
.KSBox {
    height: 100vh;
    width: 100vw;
    margin-top: -2%;
    color: silver;
    background-color: rgba(0, 0, 0, .2);
    font-family: SokaThin;
    font-size: 175%;
}

}