    HTML {
        text-align: center;
        background: url(images/PlainBlue.jpg);
        background-size: cover;
    }

    main {
        width: 100%;
    }

    .CTitles {
        font-family: SokaRegular;
        text-decoration: underline;
        text-shadow: .2rem .2rem black;
    }

    /*Dashboard*/
    .dashShell {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: SokaThin;
        border: .1rem solid silver;
        text-shadow: .25rem .25rem black;
        color: silver;
        font-size: 1rem;
    }

    .dashLeft {
        font-family: Nevolasty;
        font-size: 1rem;
        text-shadow: .4rem .4rem black;
        font-style: italic;
        transform: rotate(-10deg);

    }

    /* Projects */
    .pShell {
        width: 100%;
        color: silver;
        height: 100%;
        background-color: rgba(0, 0, 0, .2);
        font-family: SokaThin;
        font-size: 1rem;
        border: .1rem solid silver;
        text-align: inherit;
    }

    .pLinkBox {
        display: flex;
        justify-content: space-evenly;
    }

    .plogo {
        width: 8rem;
        height: 7rem;
        border: solid white .1rem;
    }

    /* Tech Skills */
    .techShell {
        width: 100%;
        height: 100%;
        background-color: transparent;
        align-items: start;
        justify-content: center;
        font-family: SokaRegular;
        font-size: 1rem;
        color: silver;
        text-shadow: .2rem .2rem black;;
    }

    .techBox {
        text-align: center;
        height: 100%;
        color: silver;
        font-style: italic;
        border: .1rem white solid;
        border-radius: 25%;
        box-shadow: .25rem .25rem black;
        font-size: 1rem;
        margin-bottom: 1%;
        background-color: rgba(0, 0, 0, .2);
        font-family: SokaThin;
    }

    .techGuts {
        display:flex;
        justify-content: space-evenly;
    }

    .techLogo {
        height: 1rem;
    }

    /* Education */
    .edShell {
        width: 100%;
        color: silver;
        height: 100%;
        background-color: rgba(0, 0, 0, .2);
        font-family: SokaThin;
        font-size: 1rem;
        border: .1rem solid silver;
    }

    .edlogo {
        width: 8rem;
        height: 7rem;
        border: solid silver .1rem;
    }

    /* WorkRecord */
    .wkShell {
        width: 100%;
        color: silver;
        height: 100%;
        font-family: SokaThin;
        font-size: 1rem;
    }

    li {
        list-style-type: '';
        text-align: inherit;
    }

    .wklogo {
        width: 8rem;
        height: 7rem;
        border: solid silver .1rem;
    }

    /*Contact Page*/
    .contactlogo{
        width: 1rem;
        height: 1rem;
    }

    .contShell {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .2);
        color: silver;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: .1rem solid silver;
        font-family: SokaUltraBold;
        font-size: .5rem;
        padding-top: 1%;
    }

    /* AboutMe */
    .AMShell {
        font-family: SokaThin;
        color: silver;
        font-size: 1rem;
        width: 100%;
        height: 100%;
        background-color: transparent;
        text-align: inherit;
    }

    .AMpic {
        border: .1rem silver solid;
        box-shadow: .25rem .25rem black;
        height: 15rem;
        margin: 1rem;
    }

    /* KSDemo */
    .DemoBox {
        height: 100vh;
        width: 100vw;
        margin-top: -2%;
        color: silver;
        background-color: rgba(0, 0, 0, .2);
        font-family: SokaThin;
        font-size: 1rem;
    }