    HTML {
        text-align: center;
        background: url(images/PlainBlue.jpg);
        background-size: cover;
    }

    main {
        width: 100%;
    }

    .CTitles {
        font-family: SokaRegular;
        text-decoration: underline;
        text-shadow: .2rem .2rem black;
    }

    /*Dashboard*/
    .dashShell {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .2);
        display: flex;
        justify-content: space-evenly;
        font-family: SokaThin;
        border: .1rem solid silver;
        text-shadow: .25rem .25rem black;
        color: white;
        font-size: 1rem;
    }

    .dashLeft {
        transform: translateX(-100%) scale(0.2) rotate(-10deg);
        opacity: 0;
        animation: slideIn 1s forwards, fadeIn 2s forwards; 
        font-family: PersianSword;
        font-size: 3rem;
        text-shadow: .4rem .4rem black;
        font-style: italic;
    }

    .dashLeft2 {
        transform: translateX(-100%) scale(0.2) rotate(-10deg);
        opacity: 0;
        animation: slideIn 1.5s forwards, fadeIn 2s forwards; 
        font-family: PersianSword;
        font-size: 1.5rem;
        text-shadow: .4rem .4rem black;
        font-style: italic;
        margin-bottom: 8%;
    }

    @keyframes slideIn {
        to {
        transform: translateX(0) scale(1);
        }
    }

    @keyframes fadeIn {
        to {
        opacity: 1;
        }
    }

    .dashLeft h1, .dashLeft h3, .dashLeft2 h1, .dashLeft2 h3 {
    font-size: 2rem;
    animation: fontSizeIn 2s forwards;
    }

    
@keyframes fontSizeIn {
    to {
    font-size: 3rem;
    }
    }



    /* Projects */
    .pShell {
        width: 100%;
        color: white;
        height: 100%;
        background-color: rgba(0, 0, 0, .2);
        font-family: SokaThin;
        font-size: 1rem;
        border: .1rem solid silver;
        text-align: inherit;
    }

    .pLinkBox {
        display: flex;
        justify-content: space-evenly;
    }

    .plogo {
        width: 8rem;
        height: 7rem;
        border: solid white .1rem;
    }

    /* Tech Skills */
    .techShell {
        width: 100%;
        height: 100%;
        background-color: transparent;
        align-items: start;
        justify-content: center;
        font-family: SokaRegular;
        font-size: 1rem;
        color: white;
        text-shadow: .2rem .2rem black;
        padding-bottom: 5%;
    }

    .techBox {
        text-align: center;
        height: 100%;
        color: white;
        font-style: italic;
        border: .1rem white solid;

        box-shadow: .25rem .25rem black;
        font-size: 1rem;
        margin-bottom: 1%;
        background-color: rgba(0, 0, 0, .2);
        font-family: SokaThin;
    }

    .techGuts {
        display:flex;
        justify-content: space-evenly;
    }

    .techLogo {
        height: 2rem;
    }

    /* Education */
    .edShell {
        width: 100%;
        color: white;
        height: 100%;
        background-color: rgba(0, 0, 0, .2);
        font-family: SokaThin;
        font-size: 1rem;
        border: .1rem solid silver;
    }

    .edlogo {
        width: 8rem;
        height: 7rem;
        border: solid silver .1rem;
    }

    /* WorkRecord */
    .wkShell {
        width: 100%;
        color: white;
        height: 100%;
        font-family: SokaThin;
        font-size: 1rem;
    }

    li {
        list-style-type: '';
        text-align: inherit;
    }

    .wklogo {
        width: 8rem;
        height: 7rem;
        border: solid silver .1rem;
    }

    /*Contact Page*/
    .contactlogo{
        width: 2rem;
        height: 2rem;
    }

    .contShell {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .2);
        color: silver;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: .1rem solid silver;
        font-family: SokaUltraBold;
        font-size: .5rem;
        padding-top: 1%;
    }

    /* AboutMe */
    .AMShell {
        font-family: SokaThin;
        color: silver;
        font-size: 1rem;
        width: 100%;
        height: 100%;
        background-color: transparent;
        text-align: inherit;
    }

    .AMpic {
        border: .1rem silver solid;
        box-shadow: .25rem .25rem black;
        height: 15rem;
        margin: 1rem;
    }

    /* KSDemo */
    .DemoBox {
        height: 100vh;
        width: 100vw;
        margin-top: -2%;
        color: white;
        background-color: rgba(0, 0, 0, .2);
        font-family: SokaThin;
        font-size: 1rem;
    }

    .scroll-to-top {
        position: fixed;
        bottom: 20px;
        left: 20px;
        width: 40px;
        height: 40px;
        background-color: #333;
        color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    
    .scroll-to-top.visible {
        opacity: 1;
    }
    
    
    @media (max-width: 768px) {
        .dashRight {
            display: none;
        }
    }
    
    .menu-items {
        color: white;
    }
    
    
    .mobile-menu {
        margin-left: 5%;
        position: relative;
        display: none;
    }
    
    .menu-toggle {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: white;
    }
    
    .menu-icon {
        display: inline-block;
        width: 30px;
        height: 20px;
        padding: -10%;
        margin: 10%;
        position: relative;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
    }
    
    .menu-icon span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: silver;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
    }

 
    .menu-icon span:nth-child(1) {
        top: 0px;
    }
    
    .menu-icon span:nth-child(2),
    .menu-icon span:nth-child(3) {
        top: 10px;
    }
    
    .menu-icon span:nth-child(4) {
        top: 20px;
    }
    
    .menu-icon.open span:nth-child(1) {
        top: 10px;
        transform: rotate(135deg);
    }
    
    .menu-icon.open span:nth-child(2) {
        top: 10px;
        opacity: 0;
        left: -60px;
    }
    
    .menu-icon.open span:nth-child(3) {
        top: 10px;
        transform: rotate(-135deg);
    }
    
    .menu-icon.open span:nth-child(4) {
        top: 10px;
        transform: rotate(-135deg);
    }
    
    @media (max-width: 768px) {
        .mobile-menu {
            display: block;
        }
    }

    .arrow-icon {
        width: 20px;
        height: 20px;
        background-color: #007bff;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
    